---
import Header from '../Header.astro';
import Button from '../Button.astro';

import { Icon } from 'astro-icon/components';
import { YouTube } from 'astro-embed';

interface Props {
   data: {
      copy: { heading: string, attention: string, subheading: string, tagline: string },
      video: {url: string, caption: string,},
      cta: {link: string, text: string}
   };
}

const { data } = Astro.props as Props;
---


<section class="hero | section-pad">
   <Header />

   <div class="grid-wrap">

      <div class="hero_content | half first-half">
         <h1 class="hero_head">{data.copy.heading}</h1>
         <p class="hero_attn">{data.copy.attention}</p>
         <h2 class="hero_sbhead">{data.copy.subheading}</h2>
         <p class="hero_tag">{data.copy.tagline}</p>
      </div>

      <div class="hero_video | half second-half">
         <p class="video_text">{data.video.caption}</p>
         <div class="video_embed">
            <YouTube id={data.video.url} />
         </div>
      </div>

   </div>

</section>

<section class="cta | section-pad graph-paper" id="first-cta">

   <Button text={data.cta.link} link="#vision" classList="cta_btn btn btn-large" />
   <Icon name="tabler:arrow-big-right-line" class="icon" />
   <p class="cta_text">{data.cta.text}</p>

</section>

<style>
   .hero {
      background-color: var(--page-1);
      padding-block-start: var(--size-7);
   }
   .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--size-7);
      /* background-color: var(--page-0); */
   }
   .video_embed {
      inline-size: 100%;
      aspect-ratio: 16/9;
   }
</style>