---
import Header from '../Header.astro';
import CTA from '../CTA.astro';

import { YouTube } from 'astro-embed';

interface Props {
   data: {
      copy: { heading: string, attention: string, subheading: string, tagline: string },
      video: {url: string, caption: string,},
      cta: {link: string, text: string}
   };
}

const { data } = Astro.props as Props;
---

<section class="section">
   <Header />
   <div class="container grid">
      <div class="copy flow">
         <h1>{data.copy.heading}</h1>
         <p>{data.copy.attention}</p>
         <h2>{data.copy.subheading}</h2>
         <p>{data.copy.tagline}</p>
      </div>
      <div class="video">
         <p class="video_text">{data.video.caption}</p>
         <div class="video_embed">
            <YouTube id={data.video.url} />
         </div>
      </div>
   </div>
</section>
<CTA text={data.cta.text} btnText={data.cta.link} btnLink="#vision" />

<style>
   .section {
      padding-block-start: var(--size-7);
      background-color: var(--page-1);
      container-type: inline-size;
   }
   .grid {
      --grid-columns: 1.5fr 1fr;
   }
   h1 {
      text-wrap: unset;
      font-size: var(--font-size-fluid-3);
   }
   h2 {
      font-size: var(--font-size-fluid-2);
   }
   .copy p {
      font-size: var(--font-size-fluid-1);
   }
   .video_text {
      color: var(--second-t);
   }
   .video_embed {
      inline-size: 100%;
      aspect-ratio: 16/9;
   }

   @container (max-width: 60rem) {
      .grid {
         --grid-columns: 1fr 1fr;
      }
   }
   @container (max-width: 50rem) {
      .grid {
         --grid-columns: 1fr;
         --grid-gap: var(--size-9);
         text-align: center;
      }
      p {
         inline-size: 100%;
         max-inline-size: none;
      }
      .video {
         inline-size: 60%;
         margin: auto;
      }
   }
</style>