---
import Header from '../Header.astro';
import CTA from '../CTA.astro';

import { YouTube } from 'astro-embed';

interface Props {
   data: {
      copy: { heading: string, attention: string, subheading: string, tagline: string },
      video: {url: string, caption: string,},
      cta: {link: string, text: string}
   };
}

const { data } = Astro.props as Props;
---

<section class="section">
   <Header />
   <div class="container grid">
      <div class="content">
         <h1 class="head">{data.copy.heading}</h1>
         <p class="attn">{data.copy.attention}</p>
         <h2 class="sbhead">{data.copy.subheading}</h2>
         <p class="tag">{data.copy.tagline}</p>
      </div>
      <div class="video">
         <p class="video_text">{data.video.caption}</p>
         <div class="video_embed">
            <YouTube id={data.video.url} />
         </div>
      </div>
   </div>
</section>
<CTA text={data.cta.text} btnText={data.cta.link} btnLink="#vision" />

<style>
   .section {
      padding-block-start: var(--size-7);
      background-color: var(--page-1);
   }
   h1 {
      text-wrap: unset;
   }
   .content {
      grid-column: span 2;
   }
   .video_embed {
      inline-size: 100%;
      aspect-ratio: 16/9;
   }
</style>