---
type splitSection = {
   heading: string,
   subheading?: string,
   body: string
}
interface Props {
   data: {
      visual: splitSection,
      copy: splitSection
   };
}

const { data } = Astro.props as Props;
---
<section class="split-content" id="pain">
   <div class="half first-half">
      <h3>{data.visual.heading}</h3>
      <div class="socialVisual">
         <!-- TODO add visual with social icons floating -->
      </div>
      <p>{data.visual.body}</p>
   </div>
   <div class="half second-half">
      <h2>{data.copy.heading}</h2>
      <h3>{data.copy.subheading}</h3>
      <p>{data.copy.body}</p>
   </div>
</section>

<style>
   .first-half {
      justify-content: space-between;
      text-align: center;
   }
   .second-half {
      justify-content: center;
      background-color: lightgray;
   }
   .socialVisual {
      border: 7px solid lightseagreen;
      inline-size: 70%;
      aspect-ratio: 1;
      margin-block: 10%;
   }
</style>