---
type splitSection = {
   heading: string,
   subheading?: string,
   body: string
}
interface Props {
   data: {
      visual: splitSection,
      copy: splitSection
   };
}

const { data } = Astro.props as Props;
---
<section id="pain" class="split-content | section-pad">
   <div class="copy | half | flow">
      <h2>{data.copy.heading}</h2>
      <h3>{data.copy.subheading}</h3>
      <p>{data.copy.body}</p>
   </div>
   <div class="visual | half">
      <h3>{data.visual.heading}</h3>
      <div class="socialVisual placeholder">
         <!-- TODO add visual with social icons floating -->
      </div>
      <p>{data.visual.body}</p>
   </div>
</section>

<style>
   .split-content {
      /* grid-template-columns: 1fr 1.5fr; */
      gap: var(--size-7);
   }
   .copy {
      text-align: center;
   }
   .visual {
      justify-content: space-between;
      text-align: center;
   }
   .socialVisual {
      inline-size: 100%;
      aspect-ratio: 16/9;
   }
</style>