---
import Section from '../Section.astro';

type splitSection = {
   heading: string,
   subheading?: string,
   body: string
}
interface Props {
   data: {
      visual: splitSection,
      copy: splitSection
   };
}

const { data } = Astro.props as Props;
---
<Section id="pain" divClass="grid">
   <div class="copy | flow">
      <h2>{data.copy.heading}</h2>
      <h3>{data.copy.subheading}</h3>
      <p>{data.copy.body}</p>
   </div>
   <div class="visual">
      <h3>{data.visual.heading}</h3>
      <div class="socialVisual placeholder">
         <!-- TODO add visual with social icons floating -->
      </div>
      <p>{data.visual.body}</p>
   </div>
</Section>

<style>
   .copy {
      text-align: center;
   }
   .visual {
      justify-content: space-between;
      text-align: center;
   }
   .socialVisual {
      inline-size: 100%;
      aspect-ratio: 16/9;
   }
</style>