---
type compItem = {
   title: string,
   heading: string,
   rows: Array<{ point: string, words: string }>,
   bottom: string
}
interface Props {
   data: {
      platform: compItem,
      creator: compItem
   };
}

const { data } = Astro.props as Props;
---

<section class="compare | grid-wrap | section-pad">
   {Object.values(data).map(comp => (
   <div class:list={['comp', comp.title.toLocaleLowerCase()]}>
      <div class="comp_head flex-row">
         <h2 class="comp_title">{comp.title}</h2>
         <h3 class="comp_heading">{comp.heading}</h3>
      </div>

      {comp.rows.map(row => (
      <div class="comp_row">
         <p class="row_point">{row.point}</p>
         <p class="row_words">{row.words}</p>
      </div>))}

      <p class="comp_bottom">{comp.bottom}</p>
   </div>
   ))}
</section>

<style>
   .compare {
      background-color: var(--page-1);
      text-align: center;
      align-items: start;
      gap: 0;
   }
   .comp_row {
      border: var(--border-size-1) solid var(--text-2);
      padding-block: var(--size-2);
   }
   .row_point {
      font-weight: var(--font-weight-7);
   }
   .problems .row_point, .problems .comp_bottom {
      color: var(--second-t);
   }
   .solutions .row_point, .solutions .comp_bottom {
      color: var(--brand-t);
   }
   .row_words {
      font-size: var(--font-size-1);
   }
   .comp_bottom {
      padding: var(--size-7);
      padding-block-end: 0;
   }
</style>