---
type compItem = {
   title: string,
   heading: string,
   rows: Array<{ point: string, words: string }>,
   bottom: string
}
interface Props {
   data: {
      platform: compItem,
      creator: compItem
   };
}

const { data } = Astro.props as Props;
---

<section class="section">
   <div class="container grid">
      {Object.values(data).map(comp => (
      <div class:list={['comp', comp.title.toLocaleLowerCase()]}>
         <div class="comp_head | stack">
            <p>{comp.heading}</p>
            <h2>{comp.title}</h2>
         </div>
         {comp.rows.map(row => (
         <div class="comp_row | stack">
            <p class="row_point">{row.point}</p>
            <p class="row_words">{row.words}</p>
         </div>
         ))}
         <p class="comp_end">{comp.bottom}</p>
      </div>
      ))}
   </div>
</section>

<style>
   .section {
      background-color: var(--page-1);
      text-align: center;
      container-type: inline-size;
   }
   .grid {
      --grid-gap: 0;
      --grid-align: start;
   }
   .stack {
      --stack-gap: 0;
   }
   .comp_row,
   .comp_head {
      border-block-end: var(--border-size-1) solid var(--text-2);
      padding-block: var(--size-2);
   }
   .comp_head p {
      font-family: var(--font-note);
      font-size: 2.5em;
      color: var(--second-t);
   }
   .comp_head h2 {
      font-size: 3.5em;
   }
   .row_point {
      font-weight: var(--font-weight-7);
      font-size: 1.4em;
   }
   .problems .row_point,
   .problems .comp_end {
      color: var(--second-tt);
   }
   .solutions .row_point,
   .solutions .comp_end {
      color: var(--brand-tt);
   }
   .row_words {
      font-size: .9em;
   }
   .comp_end {
      padding: var(--size-7);
   }

   @container (max-width: 50rem) {
      .grid {
         --grid-columns: 1fr;
         --grid-gap: var(--size-9);
      }
      p {
         inline-size: 100%;
         max-inline-size: none;
      }
      .comp {
         border: var(--border-size-1) solid var(--text-2);
         max-inline-size: 50ch;
         margin: auto;
      }
      .comp_row:not(:last-of-type) {
         border: none;
      }
      .comp_head {
         background-color: var(--page-2);
      }
      .comp_row {
         padding-block: var(--size-3) var(--size-4);
      }
      .comp_end {
         background-color: var(--page);
      }
   }
</style>