---
import { Image } from 'astro:assets';

import PhotoHang from '../../components/PhotoHang.astro';

import Hello from '../../assets/hiRamo.svg';
import Portrait from '../../assets/portrait.jpg';

interface Props {
   data: { body: Array<string> };
}

const { data } = Astro.props as Props;
---

<section id="founder" class="section-pad">
   <div class="hello">
      <Hello />
   </div>
   <div class="grid-wrap">
      <div class="image">
         <PhotoHang src={Portrait.src} alt="Ramo's portrait" />
      </div>
      <div class="flow">
         <p>{data.body[0]}</p>
         <p>{data.body[1]}</p>
      </div>
      <div class="flow">
         <p>{data.body[2]}</p>
         <p class="last">{data.body[3]}</p>
      </div>
   </div>
</section>

<style>
   #founder {
      background-color: var(--page-0);
   }
   .hello {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: var(--size-fluid-7);
      padding-block-end: var(--size-7);
   }
   .hello svg {
      fill: var(--second-t);
   }
   .image {
      /* inline-size: 100%; */
      max-inline-size: var(--size-13);
      block-size: var(--size-13);
      margin-inline: auto;
   }
   .last {
      font-family: var(--font-fancy);
      font-size: 140%;
      color: var(--brand-t);
   }
</style>