---
import Button from '../Button.astro';

import { LINKS } from '../../content/consts.ts';

type cta = {
   buttonText: string,
   description: string
}
interface Props {
   data: {
      survey: cta
      email: cta
   };
}

const { data } = Astro.props as Props;
---

<section id="cta" class="split-content | section-pad">
   <div class="flex-col flow">
      <p>{data.survey.description}</p>
      <Button text={data.survey.buttonText} link={LINKS.survey} />
   </div>
   <div class="flex-col flow">
      <p>{data.email.description}</p>
      <Button text={data.email.buttonText} link={LINKS.email} />
   </div>
</section>

<style>
   #cta {
      background-color: var(--page-2);
      text-align: center;
   }
   p {
      text-wrap: balance;
      font-size: 140%;
   }
</style>