---
import CTA from '../CTA.astro';
import Button from '../Button.astro';

import { Icon } from 'astro-icon/components';

import { LINKS } from '../../content/consts.ts';

type cta = {
   buttonText: string,
   description: string
}
interface Props {
   data: {
      survey: cta
      email: cta
   };
}

const { data } = Astro.props as Props;
---

<section id="cta">
   <CTA
      text={data.survey.description}
      btnText={data.survey.buttonText}
      btnLink={LINKS.survey}
      reverse
   />
   <div class="countainer line"></div>
   <CTA
      text={data.email.description}
      btnText={data.email.buttonText}
      btnLink="#cta"
      btnId="email-form-btn"
   >
      <div class="email-form">
         <script async data-uid="4357918fec" src="https://theramoshe.kit.com/4357918fec/index.js"></script>
      </div>
   </CTA>
</section>

<style>
   #cta {
      text-align: center;
      gap: var(--size-9);
   }
   .line {
      height: var(--border-size-3);
      background-color: var(--text-3);
   }
   .email-form {
      display: none;
   }
</style>
<script>
   const emailForm = document.querySelector('.email-form') as HTMLElement;
   const formBtn = document.querySelector('#email-form-btn') as HTMLElement;
   formBtn?.addEventListener('click', () => {
      const current = window.getComputedStyle(emailForm).display;
      emailForm.style.display = current === "none" ? "block" : "none";
   });
</script>