---
import Button from '../Button.astro';

import { Icon } from 'astro-icon/components';

import { LINKS } from '../../content/consts.ts';

type cta = {
   buttonText: string,
   description: string
}
interface Props {
   data: {
      survey: cta
      email: cta
   };
}

const { data } = Astro.props as Props;
---

<section id="cta" class="split-content | section-pad">
   <div class="flex-col flow">
      <p>{data.survey.description}</p>
      <Icon name="tabler:arrow-big-down-line" class="icon" />
      <Button text={data.survey.buttonText} link={LINKS.survey} />
   </div>
   <div class="flex-col flow">
      <p>{data.email.description}</p>
      <Icon name="tabler:arrow-big-down-line" class="icon" />
      <Button text={data.email.buttonText} link='#cta' id="email-form-btn" />
      <div class="email-form">
         <script async data-uid="4357918fec" src="https://theramoshe.kit.com/4357918fec/index.js"></script>
      </div>
   </div>
</section>

<style>
   #cta {
      background-color: var(--page-2);
      text-align: center;
   }
   p {
      text-wrap: balance;
      font-size: 140%;
      color: var(--text-0);
   }
   .email-form {
      display: none;
   }
</style>
<script>
   const emailForm = document.querySelector('.email-form') as HTMLElement;
   const formBtn = document.querySelector('#email-form-btn') as HTMLElement;
   formBtn?.addEventListener('click', () => {
      emailForm.style.display = emailForm.style.display === "none" ? "block" : "none";
   });
</script>