---
import Button from '../components/Button.astro';

import { Icon } from 'astro-icon/components';

interface Props {
   btnLink: string,
   btnText: string,
   btnId?: string,
   text: string,
   id?: string,
   reverse?: boolean
}

const { btnLink, btnText, btnId, text, id, reverse } = Astro.props as Props;
---

<section class="section graph-paper" id={id}>
   <div class:list={["container cluster", reverse && "reverse"]}>
      <Button text={btnText} link={btnLink} id={btnId} classList="btn-large" />
      <Icon name="tabler:arrow-big-right-line" class="icon" />
      <p class="cta_text">{text}</p>
      <slot />
   </div>
</section>

<style>
   .cta_text {
      inline-size: fit-content;
      text-wrap: balance;
      font-size: 140%;
      color: var(--text-0);
   }
   .reverse {
      --cluster-direction: row-reverse;
   }
</style>