---
import Button from '../components/Button.astro';

import { Icon } from 'astro-icon/components';

interface Props {
   btnLink: string,
   btnText: string,
   btnId?: string,
   text: string,
   id?: string,
   reverse?: boolean
}

const { btnLink, btnText, btnId, text, id, reverse } = Astro.props as Props;
---

<section class="section graph-paper" id={id}>
   <div class="container">
      <div class="cluster"> {reverse ? (
         <Button text={btnText} link={btnLink} id={btnId} classList="btn-large" />
         <Icon name="tabler:arrow-big-left-line" class="icon" />
         <p class="cta_text">{text}</p>
      ) : (
         <p class="cta_text">{text}</p>
         <Icon name="tabler:arrow-big-right-line" class="icon" />
         <Button text={btnText} link={btnLink} id={btnId} classList="btn-large" />
      )} </div>
      <slot />
   </div>
</section>

<style>
   .cluster {
      text-align: center;
      gap: var(--size-9);
   }
   .cta_text {
      max-inline-size: fit-content;
      text-wrap: balance;
      font-size: 1.4em;
      color: var(--text-0);
   }
</style>