---
import Header from '../components/Header.astro';
import CTA from '../components/CTA.astro';

import { YouTube } from 'astro-embed';

interface Props {
   data: {
      copy: { heading: string, attention: string, subheading: string, tagline: string },
      video: {url: string, caption: Array<string>,},
      cta: {link: string, text: string}
   };
}

const { data } = Astro.props as Props;
---

<section class="section">
   <Header />
   <div class="container grid">
      <div class="copy stack">
         <p>{data.copy.attention}</p>
         <h1 class="fancy-font">{data.copy.heading}</h1>
         <p>{data.copy.tagline}</p>
         <h2 class="note-font">{data.copy.subheading}</h2>
      </div>
      <div class="video">
         <p class="video_text">
            <span class="note-font">{data.video.caption[0]}</span>
            {data.video.caption[1]}
         </p>
         <div class="video_embed">
            <YouTube id={data.video.url} />
         </div>
      </div>
   </div>
</section>
<CTA text={data.cta.text} btnText={data.cta.link} btnLink="#vision" />

<style>
   .section {
      padding-block-start: var(--size-7);
      background-color: var(--page-1);
      container-type: inline-size;
   }
   .grid {
      --grid-columns: 1.5fr 1fr;
      --grid-gap: var(--size-5);
   }
   .stack {
      --stack-gap: var(--size-3);
   }
   h1 {
      text-wrap: unset;
      font-size: var(--font-size-7);
      color: var(--brand-t);
   }
   h2 {
      font-size: var(--font-size-6);
      font-family: var(--font-note);
      color: var(--second-t);
   }
   /* .copy p {
      text-wrap: balance;
   } */
   .video_text {
      text-wrap: balance;
      text-align: center;
   }
   .video_text span {
      font-size: var(--font-size-fluid-1);
      color: var(--accent-t);
   }
   .video_embed {
      inline-size: 100%;
      aspect-ratio: 16/9;
      border: var(--border-size-4) solid var(--text-2);
   }

   @container (max-width: 60rem) {
      .grid {
         --grid-columns: 1fr 1fr;
      }
   }
   @container (max-width: 50rem) {
      .grid {
         --grid-columns: 1fr;
         --grid-gap: var(--size-9);
         text-align: center;
      }
      .video {
         max-inline-size: 50rem;
         margin: auto;
      }
   }
</style>