---
// import SocialVisual from '../assets/socialVisual.astro';

type splitSection = {
   heading: string,
   subheading?: Array<string>,
   body: string
}
interface Props {
   data: {
      visual: splitSection,
      copy: splitSection
   };
}

const { data } = Astro.props as Props;
---

<section id="pain" class="section">
   <div class="container grid">
      <div class="copy | flow">
         <h2>{data.copy.heading}</h2>
         <h3>{data.copy.subheading?.map((sub) => (
            <span>{sub}</span>))}</h3>
         <p>{data.copy.body}</p>
      </div>
      <div class="visual | stack">
         <p>{data.visual.body}</p>
         <div class="social-visual placeholder">
            <!-- <SocialVisual /> -->
         </div>
         <h3>{data.visual.heading}</h3>
      </div>
   </div>
</section>

<style>
   .section {
      container-type: inline-size;
   }
   .copy span {
      display: block;
      padding-block-end: var(--size-4);
      font-weight: normal;
   }
   .visual {
      text-align: center;
   }
   .visual h3 {
      color: var(--second-t);
   }
   .placeholder {
      inline-size: max(18rem, 70%);
      margin: auto;
      aspect-ratio: 4/3;
   }

   @container (max-width: 50rem) {
      .grid {
         --grid-columns: 1fr;
      }
      .copy {
         text-align: center;
      }
   }
</style>