---
type Content = {
   subheading: string,
   body: string
}
interface Props {
   data: {
      heading: string,
      work: Content & { highlight: string[], list: string[] },
      foundation: { problem: Content, solution: Content },
      call: string
   };
}

const { data } = Astro.props as Props;
---

<section class="section">
   <div class="container stack">
      <h2>{data.heading}</h2>
      <div class="grid">
         <div class="work">
            <h3>{data.work.subheading}</h3>
            <p>{data.work.body}</p>
            <p class="highlight">{data.work.highlight[0]}
               <span>{data.work.highlight[1]}</span>
            </p>
            <ul role="list">
               {data.work.list.map((item) => (<li>{item}</li>))}
            </ul>
         </div>
         <div class="foundation">
            <h3 class="problem">{data.foundation.problem.subheading}</h3>
            <p>{data.foundation.problem.body}</p>
            <h3 class="solution">{data.foundation.solution.subheading}</h3>
            <p>{data.foundation.solution.body}</p>
         </div>
      </div>
      <h3 class="call">{data.call}</h3>
   </div>
</section>

<style>
   .section {
      background-color: var(--page-1);
      container-type: inline-size;
   }
   .grid {
      --grid-columns: minmax(22rem, 26rem) 1fr;
      /* --grid-align: start; */
      /* --grid-gap: var(--size-10); */
   }
   h2 {
      text-align: center;
   }
   .work h3, .foundation h3 {
      margin-block-end: var(--size-2);
   }
   .work p span {
      font-size: var(--font-size-3);
      color: var(--second-t);
   }
   .work .highlight {
      margin-block: var(--size-7) var(--size-2);
   }
   .work ul {
      margin-block-start: none;
      list-style-type: disc;
   }
   .work ul li::marker {
      color: var(--second-t);
   }
   .foundation .solution {
      margin-block-start: var(--size-7);
      color: var(--brand-tt);
   }
   .call {
      text-align: center;
      font-family: var(--font-fancy);
      color: var(--brand-t);
      letter-spacing: unset;
      margin-inline: var(--size-fluid-5);
      padding: var(--size-fluid-4);
      background: var(--page-2);
      border: var(--border-size-3) solid var(--page-0);
   }
   @container (max-width: 50rem) {
      .grid {
         --grid-columns: 1fr;
      }
      h2 {
         text-align: unset;
      }
      .call {
         padding: var(--size-fluid-2);
         margin-inline: var(--size-fluid-2);
      }
   }
</style>